<div class="container" *ngIf="details">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p>User Id: {{ getUserNameById(details.userId) }}</p>
          <p>Id: {{ details.id }}</p>
          <h5 class="card-title">Title: {{ details.title }}</h5>
          <p class="card-text">Body {{ details.body }}</p>
          <a href="#" class="btn btn-primary" (click)="goBack($event, message.id)">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>